@font-face {
    font-family: Inter;
    src: url(/fonts/Inter-Variable.ttf);
}

:root {
    --nb-dark-bg: #223131;
    --nb-dark-ab: #403C3A;
    --nb-dark-tx: #ccef90;
    --nb-dark-li: #62a0ea;
    --nb-dark-lh: #99c1f1;

    --almostwhite: #FFF2CC;
    --cream: #FFF2CC;
    --orange: #FFC09B;
    --peach: #FFBBBA;
    --lightgreen: #FFE1B6;
    --peachier: #FFBBBA;
    --orangish: #FFC09B;
    --creamish: #FFECD6;
    --pink: #FC949F;
    --link: #EA8988;
    --purple: #FC949F;
    --palegreen: #bbd8bb;
    --gray: #d5d5d5;
    --lightbrown: #825044;
    --darkbrown: #634c53;
    --cookie: #875f6b;
    --dough: #FFD0BC;
    --light-red: #b95c5c;
    --crazy-green: #95e995;
    --gradientorange: linear-gradient(#fff2df, #fadabe);
}

* {
    padding: initial;
    margin: initial;
    box-sizing: border-box;
}

body {
    background-color: var(--nb-dark-bg);
    color: var(--nb-dark-tx);
    font-size: 1.15em;
    font-family: Inter, sans-serif;
}

button {
    font-size: 1em;
    font-family: Inter, sans-serif;
}

a {
    color: var(--nb-dark-li);
}

a:hover, a:active {
    color: var(--nb-dark-lh);
}

main:has(section.welcome) {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    section.welcome {
        h1.big {
            font-size: 3em;
        }
    }
}